/* You can add global styles to this file, and also import other style files */

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

label {
    margin-bottom: 5px;
}

.form-control {
    &:focus {
        outline: 0;
        box-shadow: none;
        border-color: #ced4da;
    }
}

.btn {
    font-size: 16px;
    &:focus {
        outline: 0;
        box-shadow: none;
    }
    &:disabled {
        cursor: no-drop;
    }
}